<footer class="footer">

  <div class="footer__arrow"><a href="#" alt=""><img class="footer__arrow--image" src="./assets/images/ico-arrow.svg"
        title="" alt=""></a>
  </div>

  <div class="footer__copy">
    <p>&copy;2021</p>
    <p>we &#129505 components</p>
  </div>

  <nav class="footer__nav">

    <ul class="footer__nav--list">
      <li class="footer__nav--list__item"><a href="https://adalab.es" alt="adalab">Articles</a></li>
      <li class="footer__nav--list__item"><a href="https://adalab.es" alt="adalab">Books</a></li>
      <li class="footer__nav--list__item"><a href="https://adalab.es" alt="adalab">Events</a></li>
      <li class="footer__nav--list__item"><a href="https://adalab.es" alt="adalab">Reasons</a></li>
      <li class="footer__nav--list__item"><a href="https://adalab.es" alt="adalab">Tips</a></li>
    </ul>
  </nav>


  <div class="footer__social">

    <ul class="footer__social--list">
      <li class="footer__social--list__item"><a href="https://adalab.es" alt="adalab">Twitter</a></li>
      <li class="footer__social--list__item"><a href="https://adalab.es" alt="adalab">Instagram</a></li>
      <li class="footer__social--list__item"><a href="https://adalab.es" alt="adalab">Mastodon.social</a></li>
    </ul>
  </div>
</footer>