<footer class="footer">

  <div class="footer__arrow"><a href="#" alt=""><img class="footer__arrow--image" src="./assets/images/ico-arrow.svg"
        title="" alt=""></a>
  </div>

  <div class="footer__copy">
    <p>&copy;2021</p>
    <p>we &#129505 components</p>
  </div>

  <nav class="footer__nav">

    <ul class="footer__nav--list">
      <li class="footer__nav--list__item">Articles</li>
      <li class="footer__nav--list__item">Books</li>
      <li class="footer__nav--list__item">Events</li>
      <li class="footer__nav--list__item">Reasons</li>
      <li class="footer__nav--list__item">Tips</li>
    </ul>
  </nav>


  <div class="footer__social">

    <ul class="footer__social--list">
      <li class="footer__social--list__item">Twitter</li>
      <li class="footer__social--list__item">Instagram</li>
      <li class="footer__social--list__item">Mastodon.social</li>
    </ul>
  </div>
</footer>