<section class="main__section--second">

    <h2 class="item1" id="3reasons">3 reasons to purchase</h2>

    <article class="item2">
        <h3>Ut sed metus</h3>

        <p>Lorem ipsum dolor sit amet consectetur. </p>

    </article>

    <article class="item3">
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie. </p>
    </article>

    <article class="item4">
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt. </p>
    </article>

    <div class="main__section--second__button"><a class="button-link" href="">More reasons</a></div>
</section>