// fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;
$font-size: 18px;
// colors
$color-bg: white;
$color-bg-second-section: #eff9ff;
$color-bg-footer: #304268;
$color-buttons: #f26002;
$color-header-nav: #0271bc;
