/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  background-color: #f3f4f5;
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.main {
  background-color: white; }

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 1.25;
  text-transform: capitalize; }

h3 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.25; }

p {
  line-height: 1.67; }

.header__nav {
  background-color: #0271bc;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; }

.hero {
  background: url("/assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  width: 100vw;
  height: 100vh;
  text-align: center; }
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh; }
    .hero__container--title {
      color: white;
      font-family: "Roboto Slab", serif;
      font-size: 13vw;
      font-weight: bold;
      line-height: 15vw;
      text-transform: uppercase;
      display: inline-block;
      max-height: 100px; }
    .hero__container--subtitle {
      font-family: "Roboto", sans-serif;
      color: white;
      font-size: 4.96vw;
      line-height: 7.5;
      max-height: 24px; }
    .hero__container--button {
      background-color: white;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      position: relative;
      top: 230px; }
      .hero__container--button__arrow {
        padding: 15px;
        transform: translate(0, 3px); }

.main__section--first {
  margin-top: -50px;
  margin-left: 15px;
  margin-right: 15px;
  height: 290px; }
  .main__section--first__small {
    color: #8ccbea;
    font-size: 14px;
    line-height: 2.14; }
  .main__section--first h2 {
    margin-bottom: 15px; }
  .main__section--first__button {
    color: #f26002;
    width: 76px;
    height: 45px;
    border: solid 2px #f26002;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: color ease 1s; }
    .main__section--first__button:hover {
      background-color: #f26002;
      color: white;
      border: solid 2px white; }
    .main__section--first__button .button-link {
      color: #f26002;
      padding: 25px; }
    .main__section--first__button .button-link:hover {
      color: white; }

.main__section--second {
  background-color: #eff9ff;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  height: 624px;
  text-align: center;
  display: grid;
  grid-template-rows: 30px 95px 95px 95px 95px;
  row-gap: 45px; }
  .main__section--second article {
    margin-left: 70px;
    margin-right: 70px; }
  .main__section--second__button {
    height: 45px;
    background-color: #f26002;
    font-size: 20px;
    max-width: 300px;
    border-radius: 22.5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform ease 1s; }
    .main__section--second__button:hover {
      transform: scale(1.2); }
    .main__section--second__button .button-link {
      width: 300px;
      font-weight: 900;
      color: white;
      text-transform: capitalize;
      padding: 15px; }

.footer {
  background-color: #304268;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.8;
  padding-top: 30px;
  display: flex;
  flex-direction: column; }
  .footer__copy {
    text-transform: initial;
    order: 3;
    margin-top: 30px;
    margin-bottom: 45px; }
  .footer__nav {
    order: 1; }
  .footer__social {
    order: 2;
    margin-top: 30px; }
  .footer__arrow {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform: translate(46vw, -55px); }
    .footer__arrow--image {
      transform: translate(0, 4px);
      padding: 10px; }

/*# sourceMappingURL=main.css.map */
