.main__section--first {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  height: 290px;
  @media all and (min-width: 768px) {
    padding-left: 39px;
    padding-right: 39px;
    height: 330px;
  }
  @media all and (min-width: 1280px) {
    height: 360px;
    padding-left: 275px;
    padding-right: 275px;
    padding-top: 60px;
  }

  &__small {
    color: #8ccbea;
    font-size: 14px;
    line-height: 2.14;
  }

  h2 {
    @media all and (min-width: 768px) {
      padding-bottom: 30px;
    }
  }

  &__button {
    color: #f26002;
    width: 76px;
    height: 45px;
    border: solid 2px #f26002;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: background-color ease 1s;

    &:hover {
      background-color: #f26002;
      color: white;
      border: solid 2px white;
    }

    .button-link {
      color: #f26002;
      padding: 25px;
      font-size: 20px;
      @media all and (min-width: 1280px) {
        padding-left: 110px;
        padding-right: 110px;
      }
      &:hover {
        color: white;
      }
    }

    @media all and (min-width: 768px) {
      width: 91px;
    }
    @media all and (min-width: 1280px) {
      width: 160px;
    }
  }
}
