.hero {
  background: url("/assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  width: 100vw;
  height: 100vh;
  max-height: 780px;

  text-align: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;

    &--title {
      color: white;
      font-family: $font-titles;
      font-size: 13vw;
      font-weight: bold;
      line-height: 15vw;
      text-transform: uppercase;
      display: inline-block;

      max-height: 100px;
    }
    &--subtitle {
      font-family: $font-main;
      color: white;
      font-size: 4.96vw;
      line-height: 30vw;
      max-height: 24px;
    }

    &--button {
      background-color: white;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      position: relative;
      top: 230px;
      &__arrow {
        padding: 15px;
        transform: translate(0, 3px);
      }
    }
  }
}
