.main__section--second {
  background-color: #eff9ff;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  height: 624px;
  text-align: center;
  display: grid;
  grid-template-rows: 30px 95px 95px 95px 95px;
  row-gap: 45px;

  article {
    margin-left: 70px;
    margin-right: 70px;
  }
  .item1 {
  }
  .item2 {
  }
  .item3 {
  }

  &__button {
    height: 45px;
    background-color: #f26002;
    font-size: 20px;

    border-radius: 22.5px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform ease 1s;
    &:hover {
      transform: scale(1.2);
    }
    & .button-link {
      width: 300px;
      font-weight: 900;
      color: white;
      text-transform: capitalize;
      padding: 15px;
    }
  }
}
